/*=============================================================== General css start  ==================================*/
ul,
ol {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #040c18;
}
.Defaultbtn {
  width: 100%;
}
.Defaultbtn > a {
  color: white;
  display: inline-block;
  width: 250px;
  height: 70px;
  line-height: 70px;
  text-decoration: none;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0.5px;
  word-spacing: 3px;
  transition: 0.3s ease-in;
  border-radius: 4px;
  border: 2px solid #404040;
  text-transform: capitalize;
}
.Defaultbtn > a:first-child {
  background-color: #fed000;
  border-color: #fed000;
}
.Defaultbtn > a:first-child:hover {
  background-color: white;
  color: #040c18;
  border-color: white;
}
.Defaultbtn > a:last-child {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #040c18;
  margin: 0px 15px;
}
.Defaultbtn > a:last-child:hover {
  background-color: #fed000;
  color: #040c18;
  border-color: #fed000;
}
h1 {
  color: #040c18;
  font-size: 40px;
  letter-spacing: 0.5px;
  word-spacing: 3px;
  font-weight: 600;
  padding-bottom: 40px;
}
p {
  color: #a1a1ae;
  font-size: 22px;
  line-height: 34px;
  font-weight: 400;
  padding-bottom: 20px;
  letter-spacing: 0.3px;
  word-spacing: 3px;
}

a {
  text-decoration: none;
  color: #040c18;
  letter-spacing: 0.3px;
  word-spacing: 3px;
  transition: 0.3s ease-in;
  display: inline-block;
  font-weight: 600;
}
.allservicescard .swiper-wrapper {
  padding: 60px 0px;
}
.growbusiness .swiper-wrapper,
.workservice .swiper-wrapper,
.bloghome .swiper-wrapper {
  padding: 100px 0px;
}

/*=============================================================== General css end   ==================================*/
/*=============================================================== Header section start ==================================*/
nav {
  padding-top: 20px;
  padding-bottom: 20px;
}
.col-lg-10.mymenu {
  display: flex;
  justify-content: end;
}
.menu {
  display: flex;
  align-items: center;
}
.menu > ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.menu > ul > li {
  position: relative;
  z-index: 5;
}
.menu > ul > li > a {
  font-size: 26px;
  color: #ffff;
  text-transform: capitalize;
  transition: 0.3s ease-in;
  padding: 10px 15px;
  position: relative;
  font-weight: 500;
  padding-bottom: 29px;
  letter-spacing: 0.5px;
}

.menu > ul > li > a::after {
  content: "";
  position: absolute;
  height: 4px;
  left: 11%;
  width: 100%;
  right: 0;
  bottom: 10px;
  transform-origin: right center;
  transform: scale(0, 1);
  transition: transform 0.25s cubic-bezier(0.37, 0.31, 0.2, 0.85);
}
.menu > ul > li:hover > a {
  color: #e6b325;
}
.menu > ul > li > a:hover:after {
  background-color: #e6b325;
  transform-origin: left center;
  transform: scale(1, 1);
}
.sechitem ul li {
  z-index: 5;
}
.sechitem ul li a {
  color: #ffff;
  font-size: 26px;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  font-weight: 500;
}
.sechitem ul li a sup {
  padding: 4px;
}
.sub-menu {
  position: absolute;
  margin-top: 28px;
  padding: 20px 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  width: 250%;
  background-color: #ffffff;
  display: none;
  z-index: -5;
}
.sub-menu > li {
  position: relative;
  padding: 5px 0px;
}

.sub-menu > li > a {
  text-transform: capitalize;
  text-decoration: none;
  text-align: left;
  font-size: 18px;
  color: #999999;
  font-weight: 500;
  letter-spacing: 0.5px;
  word-spacing: 3px;
}
ul.sub-menu.blogmenu {
  width: 180%;
}

.menu > ul > li:hover .sub-menu {
  display: block;
}
.sub-menu > li::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 1px;
  background: #999999;
  transform-origin: right center;
  transform: scale(0, 1);
  transition: 0.3s ease-in;
  background: lightgrey;
}
.sub-menu > li:hover:after {
  background-color: #0a1528;
  transform-origin: right left;
  transform: scale(1, 1);
}
.sub-menu > li:hover a {
  color: #0a1528;
}

/*============================================== Search bar header ==========================================*/

button.btn.btn-primary {
  border: none;
  background: transparent;
  padding: 0;
  font-size: 22px;
}
.btn-close:focus,
.btn:focus {
  box-shadow: none !important;
}
.modal-body {
  justify-content: center;
  align-items: center;
  display: flex;
}
.modal-title h4 {
  font-size: 22px;
  font-weight: 600;
  color: #040c18;
  letter-spacing: 0.5px;
  word-spacing: 3px;
}
.modal-header .btn-close {
  transform: scale(0.9);
}
.modal-body {
  padding: 0;
}

.searchmodel .modal-content {
  width: 100vw;
}

.searchmodel .modal-dialog {
  /* max-width: var(--bs-modal-width); */
  max-width: 1150px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  /* margin: 0 auto; */
  padding: 0;
}
.searchmodel .modal-dialog .modal-body {
  padding: 80px 0px;
}

.searchmodel .modal-body input {
  width: 70%;
  height: 60px;
  line-height: 60px;
  padding-left: 20px;
  outline: none;
  font-size: 20px;
  border: 2px solid #fed000;
}
.modal-body a {
  font-size: 25px;
  background: #e6b325;
  color: #040c18;
  border: 2px solid #e6b325;
  height: 60px;
  line-height: 60px;
  width: 90px;
  text-align: center;
  border-radius: 0px 10px 10px 0px;
}
.modal-body a:hover {
  background: #040c18;
  color: #fed000;
  border: 2px solid #fed000;
}
/* .nav-link:focus,
.nav-link:hover {
  color: var(--bs-nav-ink-hover-clor);
} */
/* .modal-body input:visited,
.modal-body input:active .modal-body input:focus {
  border-color: transparent;
} */

/*=============================================================== Header section end ==================================*/
/* ==============================================================  home baner css =====================================*/
.mainvideo {
  position: relative;
  background: linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  );
  width: 100%;
  height: 90vh;
}
section.home .Defaultbtn a:first-child {
  width: 290px;
}
section.home .Defaultbtn a:last-child {
  margin: 0px 40px;
}
.swiper-pointer-events {
  top: 0;
  position: absolute !important;
  z-index: -20;
}

.mainvideo video {
  position: absolute;
  top: 0;
  z-index: -3;
  width: 100%;
  height: 90vh;
  object-fit: cover;
}
.aboutslid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
/* swiper default css  */
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
/* swiper default css end   */
.banerconetent p {
  color: #ffffff;
  font-size: 25px;
  padding: 30px 0px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: "" !important;
  height: 4px;
  width: 50px !important;
  background-color: #fed000;
  border-radius: 4px;
}
.modal-content {
  width: 80%;
  margin: auto;
}

.modal-dialog.modal-90w {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
}

.modal-body video {
  width: 100%;
  height: 70vh;
  object-fit: cover;
}

.shareit > li {
  position: relative;
  transition: 0.3s ease-in;
}
.shareit li a {
  font-size: 30px;
  color: black;
  cursor: pointer;
}
.sharenow {
  display: none;
}
.shareit > li:hover .sharenow {
  display: block;
}

.modal-header .btn-close {
  transform: scale(1.3);
}
.btn-close:hover,
.btn-close {
  opacity: 1.2;
  margin: 0 !important;
}
.links {
  display: flex;
  /* width: 100px; */
  position: absolute;
  align-items: center;
  justify-content: space-between;
  top: 0;
  transition: 0.3s ease-in;
  left: 26px;
}

.links > li {
  padding: 8px 8px;
}
.links > li > a {
  font-size: 20px;
  cursor: pointer;
  height: 40px;
  width: 50px;
  line-height: 40px;
  text-align: center;
  border-radius: 4px;
  background: #fed000;
  color: #040c18;
  border: 1px solid #fed000;
}
.links > li:hover a {
  background-color: #040c18;
  border: 1px solid #040c18;
  color: #fed000;
}
.video-play-button {
  position: absolute;
  z-index: 10;
  width: 44px;
  height: 44px;
  line-height: 44px;
  border-radius: 50%;
  text-align: center;
}

.video-play-button:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  /* transform: translateX(-50%) translateY(-50%); */
  /* display: block; */
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  background: #fed000;
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
  content: "";
  position: absolute;
  z-index: -2;
  left: 50%;
  top: 50%;
  /* transform: translateX(-50%) translateY(-50%); */
  transform: translate(-50%, -50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #fed000;
  border-radius: 50%;
  transition: all 200ms;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}
.chnagename {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
ul.who-are-you {
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.who {
  font-size: 60px;
  color: #ffffff;
  font-weight: 600;
  word-spacing: 5px;
  letter-spacing: 0.3px;
}
.who-are-you li span {
  position: relative;
}
.who-are-you li {
  padding-left: 10px;
  font-size: 60px;
  color: #ffffff;
  font-weight: 600;
  top: 0;
  position: relative;
  text-transform: capitalize;
  animation: solid 6s steps(4) infinite;
}
@keyframes solid {
  100% {
    top: -360px;
  }
}
.home .swiper-button-prev,
.home .swiper-button-next {
  top: auto;
  bottom: 0px;
  width: 100px;
}
.home .swiper-button-prev {
  left: 50%;
  transform: translate(-50%);
}
.home .swiper-button-next {
  right: 50%;
  transform: translate(-50%);
}
/* =========================================== home css end ================================ */
/* =========================================== product section css ================================ */
section.aboutproduct {
  padding: 80px 0px;
}
.cameraimg {
  max-width: 350px;
  margin: 30px auto;
}
.aboutproduct .Defaultbtn {
  padding: 20px 0px;
}
.aboutproduct .Defaultbtn a:first-child:hover {
  background: #040c18;
  border-color: #040c18;
  color: #fed000;
}
.aboutproduct .Defaultbtn a:last-child {
  border: 2px solid #c6c6c6;
}
.aboutproduct .Defaultbtn a:last-child:hover {
  background: #040c18;
  border-color: 2px solid #040c18;
  color: #ffffff;
}
/* =========================================== product section css ================================ */

/* =========================================== all services section css ================================ */
.allservicescard {
  background: #040c18;
  padding: 30px 0px;
  position: relative;
}
.allserviceintro h1 {
  padding: 20px 0px;
}

.productslider {
  padding: 35px 0px;
}

.productslider .swiper-pointer-events {
  position: relative !important;
}
.slidercard {
  max-width: 400px;
  position: relative;
}
.allproductsidebar {
  margin-top: 35px;
  padding: 30px 0px;
  border-top: 1px solid #404040;
  display: flex;
  justify-content: space-between;
}
.sidebarcontent {
  max-width: 370px;
}

.allproductsidebar .sidebarcontent p {
  color: #7d939b;
  font-size: 19px;
  padding-top: 20px;
  line-height: 28px;
}

.productsliderpera {
  padding: 60px 0px;
  width: 100%;
  max-width: 835px;
}
.productsliderpera p {
  color: #ffffff;
  font-size: 20px;
  line-height: 28px;
}
.productsliderpera p a {
  color: #fed000;
}
.productsliderpera p a span {
  font-size: 15px;
  background: #fed000;
  color: #040c18;
  width: 30px;
  display: inline-block;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 100%;
}

.allservicescard .Defaultbtn {
  padding-top: 60px;
  border-top: 1px solid #404040;
}

.allservicescard .Defaultbtn a:first-child {
  background: #ffffff;
  color: #040c18;
  border: 1px solid #ffffff;
}
.allservicescard .Defaultbtn a:first-child:hover {
  background: #fed000;
  color: #040c18;
  border: 1px solid #fed000;
}
.allservicescard .Defaultbtn a:last-child {
  width: 180px;
  background-color: transparent;
  color: #fed000;
  border: 2px solid #fed000;
}
.allservicescard .Defaultbtn a:last-child:hover {
  background: #fed000;
  color: #040c18;
  border: 2px solid #fed000;
}
.sidebarlogos {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebarlogos span {
  font-size: 90px;
  cursor: pointer;
  color: #fed000;
  margin-top: -45px;
  transition: 0.3s ease-in;
}
.sidebarlogos span:hover {
  transform: translateY(-30px);
}

.slidercard {
  cursor: pointer;
  transition: 0.3s ease-in-out;
  overflow: hidden;
}
.slidercard img {
  transition: 0.5s ease-out;
}
.slidercard:hover img {
  transform: scale(1.2);
}

.allservicescard .slidercard .slidetext {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  );
}
.allservicescard .slidercard .slidetext span {
  position: absolute;
}
.allservicescard .slidercard .slidetext span:first-child {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  width: 80%;
  margin: 0 auto;
  padding: 0px 20px;
}
.allservicescard .slidercard .slidetext span:first-child p {
  color: #ffffff;
  font-size: 17px;
  line-height: 25px;
  opacity: 0;
  transition: 0.3s ease-in;
}

.allservicescard .slidercard:hover .slidetext span p {
  opacity: 1;
}
.allservicescard .slidercard .slidetext span:first-child h5 {
  margin-top: -100px;
}
.allservicescard .slidercard .slidetext span:first-child a {
  position: relative;
  font-size: 40px;
  color: #ffffff;
  font-weight: 500;
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  z-index: 10;
}

.allservicescard .slidercard .slidetext span:first-child a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  background-color: #fed000;
  z-index: -10;
  border-radius: 100%;
  transition: 0.3s ease-in;
  transform: translate(-50%);
}
.slidercard:hover .slidetext span:first-child a::after {
  width: 200%;
  height: 200%;
  border: 2px solid #7d939b;
  background-color: transparent;
}
.allservicescard .slidercard:hover .slidetext span:first-child a {
  color: transparent;
}
.allservicescard .slidercard .slidetext span.servicename {
  bottom: 0;
  padding: 20px;
}
.allservicescard .slidercard .slidetext span.servicename a {
  font-size: 20px;
  letter-spacing: 0.5px;
  word-spacing: 4px;
  color: #ffffff;
  font-weight: 500;
}
.allservicescard .swiper-button-prev {
  left: auto;
  right: 80px;
}
.allservicescard .swiper-button-prev,
.allservicescard .swiper-button-next {
  top: auto;
  width: 60px;
}
/* 
.allservicescard .swiper-button-prev,
.allservicescard .swiper-button-next {
  background-color: red;
  top: auto;
  width: 60px;
  height: 100px;
}
.allservicescard .swiper-button-prev {
  background-image: url("../Assets/right.png");
  background-repeat: no-repeat;
  left: auto;
  right: 80px;
}
.allservicescard .swiper-button-next {
  background-image: url("../Assets/left.png");
  background-repeat: no-repeat;
} */
/* =========================================== all services section end ================================ */

/* =========================================== grow business section start ================================ */
.growbusiness {
  padding: 50px 0px;
}
.growbuniessheading {
  max-width: 450px;
  text-align: center;
}
.growbuniessheading p {
  font-size: 20px;
  text-align: center;
}
.growbuniessheading h3 {
  font-size: 30px;
  font-weight: 600;
  color: #040c18;
  word-spacing: 5px;
  padding: 10px 0px;
}

.sliderprotect {
  overflow: hidden;
  transition: 0.3s ease-in;
  position: relative;

  box-shadow: rgb(100 100 111 / 20%) 0px 7px 47px 0px;
}

.allblogs .sliderprotect {
  margin-top: 80px;
}
.sliderprotectimg {
  height: 300px;
  overflow: hidden;
}
.sliderprotectimg img {
  /* overflow: hidden; */
  transition: 0.3s ease-in;
}

.pluslink {
  width: 100%;
  text-align: center;
  position: absolute;
}
.pluslink a {
  font-size: 25px;
  font-weight: 600;
  text-decoration: none;
  z-index: 6;
  position: relative;
  color: #040c18;
  /* display: inline-block;
  width: 50px;
  height: 50px; */
  /* padding: 15px 20px; */
  width: 50px;
  height: 50px;
  display: inline-block;
  line-height: 50%;
}
.pluslink a::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #fed000;
  left: 50%;
  transform: translate(-50%, -40%);
  z-index: -1;
  border-radius: 100%;
  transition: 0.3s ease-in;
}
.pluslink a::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 50%;
  border: 2px solid #fed000;
  transform: translate(-50%, -43%);
  z-index: -1;
  border-radius: 100%;
  transition: 0.3s ease-in;
}
.pluslink a:hover:after {
  height: 120%;
  width: 120%;
}
.pluslink a:hover:before {
  width: 180%;
  height: 180%;
}

.protectlogo {
  padding: 30px 20px;
}
.protectlogo:first-child h4 a {
  font-size: 70px;
  color: #fed000c7;
  transition: 0.3s ease-in;
  display: inline-block;
}
.protectlogo h3 a {
  font-size: 28px;
  padding: 30px 0px;
}
.protectlogo p {
  font-size: 20px;
  line-height: 29px;
}

.sliderprotect:hover .protectlogo h4 a {
  color: #fed000;
  transform: translateY(-10px);
}
.sliderprotect:hover .sliderprotectimg img {
  transform: scale(1.3);
  overflow: hidden;
}
.protectlogo h3 a:hover {
  color: #fed000;
}

.protectdiv {
  max-width: 600px;
  width: 100%;
}
.protectdiv p {
  font-size: 20px;
  color: #040c18;
  line-height: 28px;
}
.protectdiv p a {
  color: #fed000;
  text-decoration: none;
  cursor: pointer;
  z-index: 99;
  display: none;
}
.protecttextdiv {
  padding: 100px 0px;
  position: relative;
  margin-top: -185px;

  z-index: -3;
}
.protecttextdiv::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #dbdbdb94;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -2;
}
.growbusiness .swiper-button-prev,
.growbusiness .swiper-button-next {
  top: auto;
  bottom: 0;
  width: 60px;
}
.growbusiness .swiper-button-prev {
  left: auto;
  /* transform: translate(-95%); */
  right: 80px;
}
/* =========================================== grow business section end ================================ */
/* =========================================== lock business section end ================================ */
.lock {
  padding-top: 60px;
}
.lockperagraph {
  padding-right: 70px;
}
.lock .lockperagraph {
  padding-left: 75px;
}
.lockperagraph ul {
  padding: 30px 0px;
}
.lockperagraph ul li span {
  background: #fed000;
  color: #ffffff;
  font-size: 14px;
  /* padding: 8px 8px; */
  border-radius: 100%;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  text-align: center;
}

.lock ul li {
  font-size: 18px;
  color: #a1a1ae;
  padding-bottom: 15px;
  letter-spacing: 0.5px;
  word-spacing: 4px;
}

.lock .Defaultbtn a:first-child {
  background: #040c18;
  color: #ffffff;
  width: 255px;
  margin: 0;
  border-color: #040c18;
}
.lock .Defaultbtn a:first-child:hover {
  background-color: #fed000;
  border-color: #fed000;
  color: #040c18;
}
/* =========================================== lock business section end ================================ */

/* =========================================== IntegratedSecuritys section  ================================ */
.IntegratedSecurity {
  padding: 60px 0px;
  background: #040c18;
  margin-top: -100px;
}
.IntegratedSecurity .securitydata {
  max-width: 900px;
  padding-top: 80px;
}
.securtiycard,
.securitycardimg {
  padding-right: 70px;
}
.securitydata h1,
.securtiycard h1 {
  color: #ffffff;
  padding: 15px 0px;
}
.securitydata p,
.securtiycard p {
  color: #ffffff;
  padding: 25px 0px;
}
.securtiycard h4 {
  color: #fed000;
  font-size: 19px;
  padding: 15px 0px;
}
.securtiycard p {
  color: #7d939b;
  padding: 15px 0px;
  font-size: 20px;
  line-height: 30px;
}
.securtiycard,
.securitycardimg {
  padding-top: 100px;
}
.securtiycard .bannerbtn a {
  background: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
  margin-top: 15px;
}

.securtiycard .lockperagraph ul {
  padding-top: 30px;
}
.securtiycard .lockperagraph li {
  color: #fff;
  font-size: 18px;
  letter-spacing: 0.3px;
  word-spacing: 3px;
  /* padding-top: 15px; */
  padding: 15px 0px;
  /* margin-top: 21px; */
}
.securtiycard .lockperagraph ul li:nth-child(2) {
  border-top: 1px solid #404040;
  border-bottom: 1px solid #404040;
}
.lockperagraph ul + p {
  color: #ffffff;
  font-size: 20px;
  line-height: 28px;
}
.securtiycard .lockperagraph p a {
  color: #fed000;
  text-decoration: none;
  cursor: pointer;
}

.IntegratedSecurity .Defaultbtn {
  padding: 40px 0px;
}
.IntegratedSecurity .Defaultbtn a:first-child {
  background: transparent;
  margin: 0;
  color: #ffffff;
  border-color: #ffffff;
}
.IntegratedSecurity .Defaultbtn a:first-child:hover {
  background: #fed000;
  border-color: #fed000;
  color: #040c18;
}
.bannerbtn {
  padding: 30px 0px;
}
.bannerbtn p {
  color: #ffffff;
}
/* =========================================== IntegratedSecuritys section end ================================ */

/* ============================================= call section start ================*/
.call {
  padding: 60px 0px;
}
.call .colaaheding h3 {
  font-size: 30px;
  font-weight: 600;
  color: #040c18;
  word-spacing: 3px;
}

.call .Defaultbtn {
  padding-top: 60px;
  display: flex;
}
.call .Defaultbtn a:first-child {
  border-color: #040c18;
  background: #040c18;
  color: #ffffff;
}
.call .Defaultbtn a:first-child:hover {
  background: #fed000;
  border-color: #fed000;
  color: #040c18;
}
.call .Defaultbtn a:nth-child(2) {
  font-size: 25px;
  color: #ffffff;
  border: none;
  margin: 0px 15px;
  width: 100px;
  position: relative;
}
.call .Defaultbtn a:nth-child(2)::after {
  content: "";
  position: absolute;
  background: #040c18;
  height: 60px;
  width: 60px;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  z-index: -1;
  border-radius: 100%;
}
.call .Defaultbtn a:nth-child(2)::before {
  content: "";
  position: absolute;
  border: 2px solid #fed000;
  height: 90px;
  width: 90px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 100%;
}
.call .Defaultbtn a:last-child {
  border: none;
  font-size: 28px;
  background-color: none;
  font-weight: bold;
  color: #040c18;
  position: relative;
  width: 160px;
}
.call .Defaultbtn a:last-child span {
  font-size: 14px;
  position: absolute;
  top: 24px;
  left: 24px;
}
.call .Defaultbtn a:last-child:hover {
  background: none;
  border: none;
}
/* ============================================= call section end ================*/

/* ============================================= Work service section start ================*/

.workservice .protectlogo {
  padding: 20px;
}
.workservice .protectlogo h3 a {
  padding: 10px 0px;
}
.workservice .protectlogo p {
  padding-bottom: 30px;
}
.workservice .Defaultbtn a:first-child {
  border: none;
  border: 2px solid #7d939b;
  background-color: transparent;
}
.workservice .Defaultbtn a:first-child:hover {
  background: #040c18;
  color: #ffffff;
  border: 2px solid #040c18;
}
.workservice .swiper-button-prev,
.workservice .swiper-button-next {
  top: auto;
  bottom: 0px;
  width: 100px;
}
.workservice .swiper-button-prev {
  left: 50%;
  transform: translate(-50%);
}
.workservice .swiper-button-next {
  right: 50%;
  transform: translate(-50%);
}
/* ============================================= chose section end ================*/
.chose {
  padding: 50px 0px;
}
.chose h1 {
  font-size: 35px;
}

.chose .Defaultbtn {
  background: #f4f4f4;
}
.chose .Defaultbtn a span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  background: #fed000;
  border-radius: 100%;
  font-size: 16px;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  margin: 0 10px;
}
.chose .Defaultbtn a {
  font-size: 26px;
  text-transform: capitalize;
  color: #040c18;
  cursor: pointer;
  margin: 0;
  border-radius: 0;
  max-width: 525px;
  width: 100%;
  text-align: left;
  height: 100px;
  line-height: 100px;
  padding-left: 30px;
  border: 1px solid #ffffff;
}
.chose .Defaultbtn a:first-child,
.chose .Defaultbtn a:last-child {
  background: transparent;
}
.chose .Defaultbtn a:hover {
  border: 1px solid #040c18;
  background-color: #ffffff;
}

.chose .Defaultbtn + div p a {
  color: #040c18;
  transition: 0.3s ease-in;
}
.chose .Defaultbtn + div p a:hover {
  color: #fed000;
}
/* ============================================= chose  section end ================*/
/* ============================================= Quate  section start ================*/

.quate {
  padding: 60px 0px;
  margin: 60px 0px;

  background: #040c18;
}
.quartbody {
  padding: 60px 60px 70px 0px;
  width: 100%;
}
.quartbody h1 {
  color: #ffffff;
}
.quartbody p {
  color: #ffffff;
  font-size: 20px;
  padding: 20px 0px;
  line-height: 28px;
}
.quate .quartbody .sliderproductlink {
  border-bottom: 1px solid #404040;
}
.quate .quartbody .sliderproductlink p {
  padding: 30px 0px;
}
.checkcquartbody {
  padding: 60px 0px;
  padding: 60px 0px;
  display: flex;
}
.checkcquartbody .check span {
  width: 60px;
  height: 60px;
  background-color: #fed000;
  display: inline-block;
  line-height: 60px;
  text-align: center;
  font-size: 20px;
  border-radius: 100%;
}
.checkcquartbody .check h3 {
  font-size: 30px;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 0.5px;
  word-spacing: 3px;
  padding-top: 35px;
}
.quoteform {
  margin-top: 90px;
  padding: 40px 60px;
  background: #ffffff;
}
.quoteform h1 {
  padding-bottom: 25px;
  font-size: 35px;
}
.quoteform p {
  font-size: 20px;
  line-height: 28px;
}
.quoteform p a {
  color: #040c18;
  transition: 0.3 ease-in;
}
.quoteform p a:hover {
  color: #fed000;
}
.quoteform form .main {
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  width: 100%;
  padding: 30px 0px;
}
.quoteform form .inputdata select option {
  width: 100%;
  overflow: hidden;
}
.quoteform form .inputdata select,
.quoteform form .inputdata input {
  outline: none;
  height: 80px;
  color: #9b9b9b;
  width: 90%;
  border: 1px solid #9b9b9b;
  line-height: 80px;
  margin-bottom: 15px;

  font-size: 20px;
  padding-left: 15px;
}
.quoteform form .checkbox {
  padding-bottom: 25pz;
}
.quoteform form .checkbox h3 {
  font-size: 25px;
  font-weight: 600;
  word-spacing: 3px;
  letter-spacing: 0.5px;
  padding-bottom: 15px;
}
.quoteform form .checkbox input {
  transform: scale(1.3);
  margin: 5px;
}
.quoteform form .checkbox label {
  font-size: 20px;
  margin: 0px 5px;
  color: #7d939b;
}
.quoteform form .Defaultbtn {
  padding: 40px 0px;
}
.quoteform form .Defaultbtn a:first-child {
  width: 100%;
  font-size: 25px;
  margin: 0;
  background: #fed000;
  color: #040c18;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  align-items: center;
  border-color: #fed000;
  font-weight: bold;
}
.quoteform form a span {
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
  border-radius: 100%;
  background: #040c18;
  transition: 0.3s ease-in;
}
.quoteform form .Defaultbtn a:first-child:hover {
  background: #040c18;
  border: 1px solid #040c18;
  color: #fed000;
}
.quoteform form a:hover span {
  background-color: #fed000;
  color: #040c18;
}

/* ============================================= Quate  section end ================*/
.bloghome {
  padding: 60px 0px;
}
.bloghome .articals p {
  text-align: center;
  font-size: 22px;
  color: #9b9b9b;
  font-weight: bold;
}
.bloghome .articals h3 {
  font-size: 50px;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 15px 0px;
}
.bloghome .protectlogo .tages {
  height: 40px;
  width: 250px;
  display: inline-block;
  background-color: #fed000;
  color: #040c18;
  border-radius: 4px;
  text-align: center;
  transition: 0.3s ease-in;
}
.bloghome .protectlogo span a {
  font-size: 18px;
  word-spacing: 3px;
  letter-spacing: 0.5px;
  color: #040c18;
  font-weight: 500;
  line-height: 40px;
  transition: 0.3s ease-in;
}
.bloghome .protectlogo .tages:hover {
  background: #040c18;
}
.bloghome .protectlogo .tages:hover a {
  color: #fed000;
}
.bloghome .protectlogo .table {
  border-top: 1px solid #c6c6c6;
  margin-top: 100px;
  width: 100%;
}
.bloghome .protectlogo .table span {
  color: #040c18;
  width: 50%;
  height: 45px;
  line-height: 45px;
  display: inline-block;
  text-align: center;
  font-size: 18px;
  transition: 5s ease-in;
}
.bloghome .protectlogo .table span:first-child {
  border-right: 1px solid #c6c6c6;
}
.bloghome .productslider .table {
  margin-bottom: -18px;
}
.bloghome .productslider .table + a {
  height: 60px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  text-decoration: none;
  color: #040c18;
  background: #fed000;
  line-height: 60px;
  font-weight: bold;
  letter-spacing: 0.5px;
  word-spacing: 5px;
  position: absolute;
  bottom: -46px;
  transition: 0.3s ease-in;
  width: 100%;
  left: 0;
}
.bloghome .productslider .table + a:hover {
  background-color: #040c18;
  color: #fed000;
}
.checkallpost {
  text-align: center;
  padding: 25px;
}
.checkallpost a {
  color: #040c18;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  text-transform: capitalize;
  transition: 0.3s ease-in;
}
.checkallpost a:hover {
  color: #fed000;
}
.bloghome .sliderprotect:hover .table + a {
  bottom: 0px;
}
/*=================================footer section start ==============================*/

.footer {
  background: #040c18;
  padding: 60px 0px;
}
.footerlink {
  padding-left: 70px;
}
.footerlink h3 {
  color: #ffffff;
  font-size: 35px;
  font-weight: 500;
  letter-spacing: 0.5px;
  word-spacing: 3px;
  padding-bottom: 15px;
}
.footerlink ul {
  margin: 0;
  padding: 0;
}
.footerlink ul li {
  padding: 5px 0px;
}
.footerlink ul li a {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
}
.footerlink ul li a:hover {
  color: #fed000;
}
.quicsupport p {
  color: #ffffff;
  font-size: 22px;
  line-height: 30px;
}
.quicsupport {
  padding-left: 30px;
}
.quicsupport ul {
  padding: 0;
  margin: 0;
}
.quicsupport ul {
  padding: 30px 0px;
}
.quicsupport ul li {
  font-size: 20px;
  padding-bottom: 15px;
  color: white;
}
.quicsupport ul li a {
  text-decoration: none;
  color: #fed000;

  font-size: 25px;
}
.copright p {
  color: #ffffff;
  font-size: 17px;
  letter-spacing: 0.5px;
  word-spacing: 3px;
}
.copright p a {
  color: #fed000;
  text-decoration: none;
  font-weight: 500;
}
.footersocilalinks a {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 15px;
}
.footersocilalinks a:hover {
  color: #fed000;
}
/*=================================footer section end ==============================*/

/* blog page css */
section.bloghome.allblogs {
  padding-top: 0px;
}
.allblogheader {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../../public/blogimage.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.allblogcentent {
  padding: 200px 0;
}

.allblogcentent h1 {
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  color: white;
  padding: 0;
  text-transform: capitalize;
  word-spacing: 3px;
  letter-spacing: 3px;
}
.allblogcentent p {
  text-align: center;
  font-size: 22px;
  color: white;
  max-width: 950px;
  margin: 0 auto;
  line-height: 36px;
  padding: 48px 0px;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 100;
}

.casestudybtns{
  text-align: center;
  padding: 20px 0px;
}

.casestudybtns a {
  width: 250px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  border-radius: 4px;
  margin-left: 40px;
  height: 70px;
  line-height: 70px;
  letter-spacing: 1.5px ;
  word-spacing: 2px;
  border: 2px solid #eaeaea;
}

.casestudybtns a:first-child{
  background-color: #fed000;
  border-color: #e6b325;
}
.casestudybtns a:first-child:hover{
  background-color: #0a1528;
  color: #fed000;
  border-color: #0a1528;
}
.casestudybtns a:last-child:hover{
  background-color: #fff;
  color: #0a1528;
  border-color: #fff;
}

span.btnscasestudy {
  max-width: 200px;
  margin: 40px auto;
  width: 100%;
  background: #fed000;
  text-align: center;
  padding: 15px 0px;
  border-radius: 4px;
  display: flex;
  justify-content: space-evenly;
}
span.btnscasestudy a {
  font-size: 18px;
  letter-spacing: 0.3px;
  font-weight: 100;
}
span.btnscasestudy a:hover{
  color: #fff;
}
.loaction {
  padding: 40px 0px;
}

.tabs {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}
.tabs a  {
  font-size: 20px;
  padding: 8px 18px;
  border-radius: 4px;
}
.tabs a:first-child{
  background-color: #fed000;
}
.tabs a:hover{
  background-color: #fed000;
  color: #0a1528;
}
.loaction h3 a {
  color: #0a1528;
}

.loaction h3 span {
  background-color: #fed000;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  margin-right: 10px;
  border-radius: 4px;
}

/* blog content page */

section.singalblog {
  padding: 70px 0px;
}
.blogfooter {
  padding: 60px 0px;
}
.allblogheader .blogsearchbar h1 {
  text-align: center;
}

.blogbody {
  padding: 30px 30px;
}
.blogcontent {
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 47px 0px;
}
.blogbody h1 {
  font-size: 50px;
  line-height: 60px;

  letter-spacing: 3px;
  color: #0a1528;
  text-align: left;
  font-weight: 700;
}

.aboutblog {
  padding-bottom: 60px;
  padding-top: 30px;
}
.aboutblog a {
  font-weight: 200;
  color: #0a1528;
  padding-right: 50px;
  font-size: 16px;
  letter-spacing: 1px;
  transition: 0.3s ease-in;
}
.aboutblog a:hover {
  color: #fed000;
}
.blogbody span {
  padding-right: 50px;
  color: #999999;
}
.blogimg {
  padding: 120px 0px;
}
.blogfooter {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.tag a {
  width: 150px;
  height: 50px;
  background: #fed000;
  text-align: left;
  line-height: 50px;
  text-align: center;
  text-transform: capitalize;
  font-size: 18px;
  border-radius: 4px;
  margin-top: 10px;
  color: #0a1528;
}
.tag a:hover {
  background-color: #0a1528;
  color: #fed000;
}
.blogwriter {
  border: 10px solid #eaeaea;
  padding: 60px 20px 60px 60px;
  margin-top: 60px;
}
.blogownercontent {
  padding-left: 30px;
}
.blogfooter h3,
.blogownercontent h3 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  padding-bottom: 10px;
}
.share a,
.blogownercontent a {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
  color: #0a1528;
  margin-right: 10px;
  border-radius: 100%;
  border: 3px solid #eaeaea;
}
.share a:hover,
.blogownercontent a:hover {
  background-color: #0a1528;
  color: #e6b325;
  border-color: #eaeaea;
}


.commentinput {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 50px 0px;
}
.commentinput input {
  max-width: 320px;
  width: 100%;
  /* outline: navajowhite; */
  /* outline: navajowhite; */
  outline: none;
  border: 4px solid #eaeaea;
  height: 60px;
  font-size: 20px;
  padding:  0px 50px;
  line-height: 60px;
}
.commentdata textarea{
  width: 100%;
  height: 100%;
  outline: none;
  border:  4px solid #eaeaea;
  font-size: 20px;
  padding: 30px;
}
.commentdata [type="checkbox"]{
  margin: 20px 0px;
 max-width: 20px;
 width: 100%;
 accent-color:#fed000;
}
.commentdata label{
  font-size: 20px;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  line-height: 30px;
  height: 30px;
}
.commentdata a{
  width: 40%;
  display: inline-block;
  height: 60px;
  font-size: 22px;
  background-color: #fed000;
  height: 70px;
  line-height: 70px;
  text-align: center;
  border-radius: 4px;
  letter-spacing: 0.5px;
  word-spacing: 0.6px;
  color: #0a1528;
  margin-top: 50px;
  position: relative;
}
.commentdata a span{
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 100%;
  display: inline-block;
  font-size: 18px;
  background-color: #0a1528;
  color: #fff;
  margin-left: 20px;
  animation: btnarrow 3s infinite ;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
}
@keyframes btnarrow {
0% {
  left: 90%;
}
100% {
  left: 10%;
}
}
.commentdata a:hover{
  background-color: #0a1528;
  color: #fed000;
}
.commentdata a:hover span {
  background-color: #fed000;
  color: #0a1528;
}
.blogsearchbar{  
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 47px 0px;

  padding: 50px 40px;
  background-color: #fed000;
  /* clip-path: polygon(79% 0, 100% 33%, 100% 100%, 0 100%, 0 0); */
}
.blogsearchbar h5{
  font-size: 35px;
  padding-bottom: 15px;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 0.3px ;
}
.searchdiv {
  background: #fff;
  padding: 20px 30px;
  border-radius: 4px;
}
.searchdiv input{
  border: none;
  font-size: 22px;
  padding: 10px 0px;
  padding-right: 5px;
  outline: none;
}
.searchdiv a {
  font-size: 30px;
  color: #0a1528;
}
.searchdiv a:hover{
  color: #fed000;
}
.blogcategores{
  padding: 60px 0px;
}


/* blog standard  */

.blogstanardconent .blogcontent {
  box-shadow: none;
  border-bottom: 1px solid #eaeaea;
}

.blogstanardconent .aboutblog a:first-child {
  font-size: 30;
  padding: 10px 17px;
  background:#fed000;
  border-radius: 4px;
  margin-right: 50px;
  color: #0a1528;
  transition: 0.3s ease-in;
}

.blogstanardconent .aboutblog a:first-child:hover{
  background-color: #0a1528;
  color: #fed000;
}

section.singalblog .redme {
  color: #0a1528;
  width: 229px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  background: #fed000;
  font-size: 22px;
  margin-top: 70px;
  border-radius: 4px;
  font-weight: 600;
  transition: 0.3s ease-in;
}
section.singalblog .redme:hover{
  background-color: #0a1528;
  color: #fed000;
}
.blogstanardconent{
  margin-bottom: 40px;
}
/* blog content page end */


/* case satudy section */
section.rquirements {
  padding: 70px 0px;
}

.requirementdata h3 {
  font-size: 40px;
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: 2px;
  padding-bottom: 40px;
}
.requirementdata p {
  line-height: 38px;
}
.casstudyvideo{
  padding: 50px 0px;
}
.casstudyvideo video {
  width: 100%;
  height: 560px;
  object-fit: cover;
}
.divblutespoints{
  padding: 50px 0px;
}
.divblutespoints ul li {
  font-size: 24px;
  color: #0a1528;
  width: 100%;
  font-weight: 600;
  /* padding: 30px 0px; */
 padding: 25px 0px;
  letter-spacing: 1px;
  word-spacing: 2px;
}
.divblutespoints ul li:nth-child(2){
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  
}
.divblutespoints ul li span {
  width: 35px;
  height: 35px;
  background: #fed000;
  text-align: center;
  line-height: 35px;
  display: inline-block;
  border-radius: 100%;
  font-size: 20px;
  color: #fff;
  margin-right: 20px;
}

.chosedata{
  max-width: 900px;
  width: 100%;
}
.chosedata p {
  padding-bottom: 60px;
}

.Defaultbbutton {
  padding: 30px 0px;
}
.Defaultbbutton a {
  background: #0a1528;
  height: 70px;
  width: 250px;
  border-radius: 4px;
  color: #fff;
  line-height: 70px;
  text-align: center;
  font-size: 22px;
  text-transform: capitalize;
  letter-spacing: 1.4px;
  word-spacing: 0.5px;
}
.cosedatabottom {
  max-width: 950px;
  width: 100%;
  padding: 90px 0px ;
}
.cosedatabottom .Defaultbbutton {
  padding: 0;
}
.protectvideo video {
  width: 100%;
  /* max-width: 600px; */
  height: 600px;
  object-fit: cover;
}
.protectvideo{
  max-width: 600px;
  width: 100%;
}
.protecthomedata{
  display: flex;
  justify-content: space-between;
}
.protectme {
  max-width: 1000px;
  width: 100%;
  padding: 120px 0px;
  padding-right: 100px;
}
.protectme h4 {
  font-size: 40px;
  font-weight: 600;
  line-height: 61px;
  padding-bottom: 20px;
}
.protecthomedata .Defaultbtn a:first-child {
  background: #0a1528;
  border-color: #0a1528;
  width: 290px;
  color: #fff;
}
.protecthomedata .Defaultbtn a:first-child:hover{
  background-color: #fed000;
  border-color: #fed000;
  color: #0a1528;
}
.protecthomedata .Defaultbtn a:last-child{
  background: transparent;
  border-color: #eaeaea;
  width: 290px;
  color: #0a1528;
}
.protecthomedata .Defaultbtn a:last-child:hover{
  background-color: #0a1528;
  color: #fff;
  border-color: #0a1528;
}
.protectme .Defaultbtn {
  margin-top: 30px;
}
.chosepoints {
  padding: 60px 0px;
}
.chosepoints .maindata{
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #eaeaea;
}
.maindata span {
  background: #fed000;
  width: 220px;
  color: #fff;
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.maindatacoent {
  padding: 60px 0px;
  max-width: 900px;
  width: 100%;
}
.chosepoints{
  padding: 120px 0px;
}
/* contact*/
section.touch {
  padding: 90px 0px;
  
  /* box-shadow: rgb(100 100 111 / 20%) 0px 7px 47px 0px; */
  margin-bottom: 60px;
}
.contanct-info {
  background: #fed000;
  padding: 60px 50px;
  clip-path: polygon(81% 0, 100% 17%, 100% 100%, 0 100%, 0 0);
}
.contanct-info h3 {
  font-size: 35px;
  font-weight: 900;
  letter-spacing: 1.2px;
  word-spacing: 2px;
  line-height: 40px;
  color: #0a1528;
}
.contanct-info p {
  font-size: 22px;
  line-height: 31px;
  color: #0a1528;
  font-weight: 400;
  padding: 50px 0px;
  letter-spacing: 0.9px;
  word-spacing: 2px;
}

.information ul li {
  font-size: 20px;
  padding-top: 20px;
  /* letter-spacing: 23.5px; */
}
.contanct-info .information ul li a {
  color: #0a1528;
  letter-spacing: 0.6px;
  line-height: 35px;
  line-height: 35px;
  height: 35px;
}
.contanct-info .information ul li a span{
  font-size: 18px;
  padding-right: 40px;
}

.contactform h5 {
  font-size: 35px;
  font-weight: bold;
  text-transform: capitalize;
  padding-bottom: 40px;
}
.contactform p {
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 30px;
  letter-spacing: 0.5px;
  word-spacing: 2px;
}
.inputdata {
  display: flex;
  justify-content: space-between;
  padding: 30px 0px;
}
.inputdata select,
.inputdata input {
  height: 50px;
  width: 201px;
  line-height: 50px;
  padding-left: 20px;
  font-size: 20px;
  border: 2px solid #eaeaea;
  letter-spacing: 0.5px;
  outline: none;
}
.contactform textarea {
  width: 100%;
  padding: 30px;
  font-size: 20px;
  letter-spacing: 0.5px;
  outline: none;
  border: 2px solid #eaeaea;
  margin: 15px 0px;
  height: 160px;
}
.contactform button {
  width: 280px;
  height: 70px;
  line-height: 70px;
  font-size: 20px;
  letter-spacing: 0.5px;
  word-spacing: 0.6px;
  background: #fed000;
  border: 1px solid #fed000;
  border-radius: 4px;
  margin-top: 35px;
}
.contactform button:hover{
  background-color: #0a1528;
  color: #fed000;
  border-color: #0a1528;
}
/* login page */

.loginme {
  padding: 40px 0px;
}
.loginme h3 {
  font-size: 30px;
  padding-bottom: 20px;
  text-transform: capitalize;
  color: #0a1528;
  font-weight: 400;
}
.loginme form {
  display: flex;
  flex-direction: column;

  padding: 30px 0px;
}
.loginme form label {
  font-size: 20px;
  padding-bottom: 10px;
  color: #0a1528;
  letter-spacing: 0.3px;
  word-spacing: 3px;
}

.loginme form input {
  margin-bottom: 10px;
  max-width: 500px;
  border-radius: 4px;
  width: 100%;
  letter-spacing: 1px;
  word-spacing: 1px;
  outline: none;
  height: 70px;
  line-height: 70px;
  font-size: 18px;
  padding-left: 20px;
  color: #0a1528;
  border: 2px solid #eaeaea;
}

.loginme form .nowlogin,
.loginme .google {
  display: inline-block;
  width: 500px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  margin: 25px 0px;
  font-size: 20px;
  letter-spacing: 1px;
  background: #fed000;
  border-radius: 4px;
  color: #0a1528;
}
.loginme form .nowlogin:hover {
  background: #0a1528;
  color: #fed000;
}
.loginme span {
  font-size: 16px;
  color: #0a1528;
  letter-spacing: 0.6px;
  word-spacing: 1px;
}
.loginme span a {
  color: #fed000;
}
.loginme .google {
  background: transparent;
  border: 2px solid #eaeaea;
}
.loginme .google:hover {
  background: #0a1528;
  color: #fed000;
}
.recentspost,
.blogstags,
.blogcategores{
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 47px 0px;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 47px 0px;

  padding: 50px 40px;
  margin-top: 30px;
  /* clip-path: polygon(79% 0, 100% 10%, 100% 100%, 0 100%, 0 0); */
}
.blogcategores a {
  width: 100%;
  height: 70px;
  line-height: 70px;
  background: #000;
  color: #fff;
  margin-bottom: 15px;
  font-size: 30px;
  display: flex;
  font-weight: 400;
  justify-content: space-around;
  border-radius: 3px;
  align-items: center;
}
.blogstags h5,
.recentspost h5,
.blogcategores h4 {
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  margin-bottom: 15px;

}
  .blogcategores a div {
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    color: #fed000;
    background-color: #0a1528;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .blogcategores a:hover{
    background-color: #fed000;
    color: #0a1528;
  }
  .blogstags,
  .recentspost,
  .blogcategores{
    position: relative;
  }
  .blogstags::after,
  .recentspost::after,
  .blogcategores::after{
    bottom: 0;
    height: 4px;
    width: 180px;
    background-color: #fed000;
    position: absolute;
    content: '';
    left: 50%;
    transform: translate(-50%);
  }
  .blogstags a {
    padding: 10px 20px;
    background: #fed000;
    margin: 5px;
    border-radius: 4px;
    font-size: 22px;
    text-transform: capitalize;
}
.blogstags a:hover{
  background-color: #0a1528;
  color: #fed000;
}
.recentspost .posts img {
  max-width: 40px;
  height: auto;
}
.recentspost .posts{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.recentspost .posts .postupdated{
  padding-left: 30px;
}
.recentspost .posts .postupdated p {
  font-size: 20px;
  color: #999999;
  padding: 0;
  text-transform: capitalize;
}
.recentspost .posts .postupdated h4 {
  font-size: 30px;
  padding-top: 10px;
  letter-spacing: 0.5px;
  font-weight: 600;
}

/* login page end */
