nav {
  padding-top: 20px;
  padding-bottom: 20px;
}
.col-lg-10.mymenu {
  display: flex;
  justify-content: end;
}
.menu {
  display: flex;
  align-items: center;
}
.menu > ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
}
.menu > ul > li {
  position: relative;
  z-index: 5;
}
.menu > ul > li > a {
  font-size: 20px;
  text-decoration: none;
  color: #ffff;
  text-transform: capitalize;
  transition: 0.3s ease-in;
  padding: 10px 15px;
  position: relative;
  padding-bottom: 29px !important;
}

.menu > ul > li:hover .sub-menu {
  display: block;
}
.menu > ul > li:hover > a {
  color: #e6b325;
}
.menu > ul > li > a::after {
  content: "";
  position: absolute;
  height: 4px;
  bottom: 5px !important;
  left: 0;
  right: 0;
  transform-origin: right center;
  transform: scale(0, 1);
  transition: transform 0.25s cubic-bezier(0.37, 0.31, 0.2, 0.85);
}
.menu > ul > li > a:hover:after {
  background-color: #e6b325;
  transform-origin: left center;
  transform: scale(1, 1);
}
.sechitem ul {
  margin: 0;
}
.sechitem ul li {
  z-index: 5;
}
.sechitem ul li a {
  color: #ffff;
  font-size: 18px;
  padding: 10px 10px;
  display: flex;
  align-items: center;
}
.sechitem ul li a sup {
  padding: 4px;
}
.sub-menu {
  position: absolute;
  margin-top: 28px;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  /* padding-bottom: 20px !important; */
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  width: 250%;
  background-color: white;
  padding-bottom: 29px;
  display: none;
  z-index: -5;
}
.sub-menu > li {
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
}
ul.sub-menu.blogmenu {
  width: 180%;
}
.logo a {
  text-decoration: none;
  color: #ffff;
}
.sub-menu > li::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 1px;
  background: #999999;
  transform-origin: right center;
  transform: scale(0, 1);
  transition: 0.3s ease-in;
  background: lightgrey;
}
.sub-menu > li:hover:after {
  background-color: #0a1528;
  transform-origin: right left;
  transform: scale(1, 1);
}
.sub-menu > li > a {
  text-transform: capitalize;
  text-decoration: none;
  text-align: left;
  font-size: 16px;
  color: #999999;
}
.sub-menu > li:hover a {
  color: #0a1528;
}
button.btn.btn-primary {
  border: none;
  background: transparent;
  padding: 0;
  font-size: 18px;
}
.btn-close:focus,
.btn:focus {
  box-shadow: none !important;
}
.modal-body {
  justify-content: center;
  align-items: center;
  display: flex;
}
.modal-title h4 {
  font-size: 16px;
  text-align: center;
}
.modal-header .btn-close {
  transform: scale(0.9);
}
.modal-body {
  background-color: #0a1528;
  color: white;
  padding: 0;
}

.modal-body input {
  width: 300px;
  border: none;
  border: 1px solid #dee2e6;
  font-size: 15px;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  outline: none !important;
  border: none !important;
  margin-top: 10px;
  margin-bottom: 10px;
}
.modal-body a {
  font-size: 25px;
  background: #e6b325;
  color: white;
  transition: 0.3s ease-in;
  border: 1px solid #e6b325;
  display: block;
  height: 40px;
  width: 80px;
  line-height: 40px;
  text-align: center;
}
.nav-link:focus,
.nav-link:hover {
  color: var(--bs-nav-ink-hover-clor);
}
.modal-body input:visited,
.modal-body input:active .modal-body input:focus {
  border-color: transparent;
}
