/* ==============================================================  home baner css ================== */
.mainvideo {
  position: relative;
  background: linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  );
  width: 100%;
  height: 90vh;
}
.bannerbtn {
  width: 100%;
}
.swiper-pointer-events {
  touch-action: pan-y;
  top: 0;
  position: absolute;
  z-index: -20;
}
.swiper-pointer-events {
  touch-action: pan-y;
  position: absolute !important;
}
.mainvideo video {
  position: absolute;
  top: 0;
  z-index: -3;
  width: 100%;
  height: 90vh;
  object-fit: cover;
  background-blend-mode: overlay;
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  );
}
.aboutslid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.banerconetent h1 {
  font-size: 50px;
  font-weight: 700;
  color: white;
  text-align: left;
}
.banerconetent p {
  color: white;
  font-size: 18px;
  text-align: justify;
}
.bannerbtn > a {
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
  width: 230px;
  height: 60px;
  line-height: 60px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  color: white;
  text-align: center;
}

.bannerbtn > a:first-child {
  background-color: #e6b325;
  border: 1px solid #e6b325;
  transition: 0.5s ease-in;
  border-radius: 4px;
}
.bannerbtn > a:last-child {
  background-color: #ffffff;
  color: #040c18;
  transition: 0.5s ease-in;
  border-radius: 4px;
}
.bannerbtn > a:last-child:hover {
  background: #e6b325;
  color: #040c18;
}
.bannerbtn > a:first-child:hover {
  background-color: white;
  color: #040c18;
}

.swiper-button-prev,
.swiper-button-next {
  display: none !important;
}

.modal-content {
  width: 80%;
  margin: auto;
}

.modal-dialog.modal-90w {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  max-width: 100%;
}

.modal-body video {
  width: 100%;
  height: 70vh;
  object-fit: cover;
}

.sharenow {
  display: none;
}

.shareit > li {
  position: relative;
  transition: 0.3s ease-in;
}
.shareit > li:hover .sharenow {
  display: block;
}
.shareit li a {
  font-size: 30px;
  color: black;
  cursor: pointer;
}
.modal-header .btn-close {
  transform: scale(1.3);
}
.btn-close:hover,
.btn-close {
  opacity: 1.2;
  margin: 0 !important;
}
.links {
  display: flex;
  width: 100px;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  top: 0;
  transition: 0.3s ease-in;
  left: 26px;
}

.links > li {
  padding: 8px 8px;
}
.links > li > a {
  font-size: 18px;
  cursor: pointer;
  height: 40px;
  width: 50px;
  line-height: 40px;
  text-align: center;
  border-radius: 3px;
  display: block;
  background: #e6b325;
  color: white;
  border: 1px solid #e6b325;
  transition: 0.3s ease-in;
}
.links > li:hover a {
  background-color: #040c18;
  border: 1px solid #040c18;
}
.video-play-button {
  position: absolute;
  z-index: 10;
  width: 44px;
  height: 44px;
  line-height: 44px;
  border-radius: 50%;
  text-align: center;
}

.video-play-button:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #e6b325;
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
  content: "";
  position: absolute;
  z-index: -2;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #e6b325;
  border-radius: 50%;
  transition: all 200ms;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}
.chnagename {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
ul.who-are-you {
  height: 90px;
  line-height: 90px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.who {
  font-size: 30px;
  color: #ffffff;
  font-weight: 900;
}
.who-are-you li span {
  position: relative;
}
.who-are-you li {
  text-align: left;
  padding-left: 10px;
  font-size: 30px;
  color: #ffffff;
  list-style: none;
  font-weight: 900;
  list-style: none;
  top: 0;
  position: relative;
  text-transform: capitalize;
  animation: solid 6s steps(4) infinite;
}
@keyframes solid {
  100% {
    top: -360px;
  }
}
/* =========================================== home css end ================================ */
